<!doctype html>
<html lang="en" ></html>
<head>
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

{% include 'includes/navbar.html' %}
{% include 'includes/suggestions.html' %}

<body>

    {% include 'includes/stories.html' %}

    {% include 'includes/cards.html' %}
</body>
</html>
